html
{
	font-family: sans-serif;
	ms-text-size-adjust: 100%;
	webkit-text-size-adjust: 100%;
}
body
{
	margin: 0;
}
header,nav,section
{
	display: block;
}



html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Muli', sans-serif;
    text-transform: uppercase;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1.3;
    font-family: 'Muli', sans-serif;
    color: #232323;
    background-color: #edf1f4;
}
b {
    font-weight: 900;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
header {
    background-color: #3ae0fb;
    vertical-align: center;
    color: #06101a;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 22px;
    font-weight: 900;
    position: fixed;
    width: 100%;
    z-index: 10;
}
header h2 {
    font-size: 18px;
    font-weight: 600;
    text-align: right;
}
.contador {
    background-color: #2e2e2e;
    height: 50px;
    position: fixed;
    width: 100%;
    z-index: 999999999;
}
.contador h1 {
    font-size: 14px;
    color: #fff;
    font-weight: 700;
    display: inline-block;
    line-height: 12px;
    padding: 19px 0;
    float: left;
    white-space: nowrap;
}
.contador em {
    font-style: normal;
    color: #ffba00;
    position: relative;
}
.contador h1 em span {
    font-size: 33px;
    line-height: 11px;
    display: inline-block;
    color: #ffba00;
}
.contador h2 {
    color: #fff;
    display: inline-block;
    font-size: 12px;
    text-align: right;
    padding: 19px 0;
    margin-right: 24px;
    float: right;
}
.contador h3 {
    color: #fff;
    font-size: 35px;
    padding: 3px 0;
    text-align: right;
    font-weight: 400;
    float: right;
}
.aviso-desconto {
    padding-top: 50px;
}
.aviso {
    background-color: #06101a;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #ffffff;
}
.aviso-desconto {
    background-color: #06101a;
    padding-top: 100px;
    padding-bottom: 20px;
    color: #ffffff;
}
.aviso h1 {
    font-size: 15px;
    font-weight: 900;
}
.aviso p {
    font-size: 15px;
    font-weight: 300;
}
.aviso .pagamento {
    text-align: right;
}
.aviso .img-pagamento {
    padding-right: 0px;
}
.aviso h2 {
    font-size: 15px;
    font-weight: 900;
    color: #3ae0fb;
    margin-right: -60px;
    margin-top: 10px;
}
.utilitarios .row {
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 0px 5px 0.3px rgba(214, 214, 214, 1);
    -moz-box-shadow: 0px 0px 5px 0.3px rgba(214, 214, 214, 1);
    box-shadow: 0px 0px 5px 0.3px rgba(214, 214, 214, 1);
    border-radius: 5px;
}
.utilitarios img {
    float: left;
    margin-right: 10px;
}
.utilitarios p {
    font-size: 10px;
}
.utilitarios p b {
    font-size: 14px;
    display: block;
}
.utilitarios .uti {
    border-right: 1px solid #d6d6d6;
}
.kits .row {
    text-align: center;
    margin-top: 20px;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 0px 5px 0.3px rgba(214, 214, 214, 1);
    -moz-box-shadow: 0px 0px 5px 0.3px rgba(214, 214, 214, 1);
    box-shadow: 0px 0px 5px 0.3px rgba(214, 214, 214, 1);
    border-radius: 5px;
}
.kits h1 {
    padding-top: 20px;
    font-size: 20px;
    font-weight: 900;
    color: #06101a;
    line-height: 1;
    text-align: left;
}
.kits .porcentagem-desconto {
    background-color: #0d52a6;
    color: #ffffff;
    padding: 5px 0;
}
.kits .porcentagem-desconto h2 {
    font-size: 19px;
    font-weight: 900;
}
.kits .porcentagem-desconto h3 {
    font-size: 8px;
    font-weight: 900;
}
.kits img {
    width: 85%;
    margin-top: 20px;
}
.kits .descricao p {
    font-size: 12px;
    color: #5a5a5a;
    text-align: left;
    margin-top: 60px;
}
.kits .descricao p b span {
    color: #0d52a6;
}
.kits .valor {
    background-color: #f3f3f3;
    padding: 40px 40px 40px;
}
.kits .valor p {
    font-size: 13px;
    font-weight: 400;
    color: red;
    text-align: left;
    width: 100%;
}
.kits .valor p strike {
    font-size: 20px;
    font-weight: 900;
}
.kits .valor hgroup {
    margin-top: 20px;
    margin-bottom: 20px;
}
.kits .valor hgroup h1 {
    font-size: 14px;
    font-weight: 700;
    text-transform: none;
    margin-bottom: 0px;
    text-align: center;
}
.kits .valor hgroup h2 {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    color: #0d52a6;
}
.kits .valor hgroup h3 {
    font-size: 11px;
    font-weight: 600;
    text-align: center;
    text-transform: none;
}
footer {
    background-color: #06101a;
    color: #ffffff;
    text-align: center;
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 20px;
}
footer h1 {
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 900;
}
footer img {
    margin-bottom: 20px;
}
footer p {
    font-size: 12px;
}
.direitos {
    background-color: #030a12;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: right;
}
.direitos h1 {
    font-size: 15px;
    font-weight: 900;
    text-align: left;
    color: #0d52a6;
}
.direitos ul li {
    display: inline;
    font-size: 10px;
    font-weight: 900;
    padding: 0 10px;
}
.direitos ul li a {
    color: #fff;
}
.botao-faq button{
	background-color: #35A344;
    border: 6px solid #ebeced;
    border-radius: 150px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 15%;
    font-size: 15px;
    font-weight: 600;
}


.botao button {
    background-color: #35A344;
    border: 6px solid #ebeced;
    border-radius: 150px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    font-size: 15px;
    font-weight: 600;
}
.botao button:hover {
    background-color: #0d52a6;
    border: 6px solid #ebeced;
}
.botao-footer button {
    background-color: #0d52a6;
    border: none;
    border-radius: 5px;
    padding-top: 7px;
    padding-bottom: 7px;
    width: 75%;
    font-size: 12px;
    font-weight: 900;
    margin-top: 30px;
}
.botao-footer button:hover {
    border: none;
}
@media (max-width: 768px) {
    header {
        font-size: 16px;
    }
    .aviso {
        padding-top: 20px;
    }
    .aviso-desconto {
        padding-top: 80px;
    }
    .aviso .pagamento {
        margin-top: 10px;
    }
    .aviso h2 {
        font-size: 10px;
        margin-right: -15px;
    }
    .aviso .img-pagamento img {
        width: 100%;
    }
    .utilitarios p {
        font-size: 9px;
    }
    .utilitarios p b {
        font-size: 10px;
    }
    .kits .valor {
        padding: 20px 20px 20px;
    }
    .kits .valor p {
        text-align: center;
    }
    .kits .valor hgroup h1 {
        font-size: 14px;
    }
    .kits .valor hgroup h2 {
        font-size: 49px;
    }
    footer img {
        width: 100%;
    }
    footer p {
        font-size: 10px;
    }
    .botao-footer button {
        width: 100%;
        font-size: 10px;
    }
}
@media (max-width: 420px),
(max-width: 736px) {
    header {
        font-size: 25px;
        text-align: center;
    }
    header h2 {
        margin-top: 10px;
        text-align: center;
    }
    .aviso {
        text-align: center;
        padding-top: 20px;
    }
    .aviso-desconto {
        text-align: center;
        padding-top: 130px;
    }
    .aviso .pagamento {
        margin-top: 10px;
        text-align: center;
    }
    .aviso h2 {
        font-size: 15px;
        margin-right: -15px;
    }
    .aviso h2 br {
        display: none;
    }
    .aviso .img-pagamento img {
        width: 60%;
        margin-top: 10px;
    }
    .utilitarios .uti {
        margin-bottom: 10px;
    }
    .utilitarios p {
        font-size: 11px;
    }
    .utilitarios p b {
        font-size: 15px;
    }
    footer img {
        width: 70%;
    }
    footer p {
        font-size: 10px;
    }
    .direitos {
        text-align: center;
    }
    .direitos h1 {
        text-align: center;
        margin-bottom: 10px;
    }
    .botao-footer button {
        width: 80%;
        font-size: 12px;
    }
}
.popup-saida {
    background-color: #08a0d2;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    display: none;
    z-index: 9999999999;
}
.popup-saida .modal-dialog .modal-content {
    background-color: #08a0d2;
    border: none;
    display: table-cell;
    vertical-align: middle;
    box-shadow: none;
}
.modal-body {
    margin-top: 80px;
}
.modal-desconto .modal-dialog .modal-content {
    box-shadow: none;
    border: 0;
}
.modal-desconto .modal-body h4 {
    font-size: 135px;
    font-weight: 900;
    color: #ffba00;
    text-transform: uppercase;
}
.modal-desconto .modal-body .meio span {
    background-color: #ffba00;
    font-size: 10px;
    text-transform: uppercase;
    color: #fff;
    display: block;
    float: left;
    padding: 5px 8px;
    border-radius: 3px;
    font-weight: 700;
    margin-bottom: 22px;
}
.modal-desconto .modal-body .meio b {
    display: block;
    clear: both;
    color: #fff;
    font-size: 60px;
    font-weight: 900;
    line-height: 29px;
}
.modal-desconto .modal-body .meio b i {
    font-size: 21px;
    color: #fff;
    font-style: normal;
}
.modal-desconto .modal-body img {
    position: absolute;
    left: auto;
    right: 0;
    top: 122px;
    width: 30%;
}
.modal-desconto .modal-body .meio p {
    font-size: 14px;
    color: #fff;
    width: 200px;
    position: absolute;
    top: 200px;
    right: auto;
    left: 210px;
    font-weight: 600;
}
.modal-desconto .modal-body .boxs_btns {
    display: block;
    margin-top: 40px;
    position: relative;
}
.btn_cart {
    display: block;
    overflow: hidden;
    box-sizing: border-box;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    width: 185px;
    height: 50px;
    padding: 0;
    position: absolute;
    left: calc(30% - 92.5px);
    line-height: 50px;
    z-index: 111;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    background-color: #00698b;
    color: #fff!important;
    border-radius: 3px;
    text-align: center;
    border: 0;
}
.btn_cart.verde {
    background-color: #8ec145;
}
.modal-desconto .modal-body .boxs_btns .dirt {
    left: auto;
    right: 85px;
    background-color: #00698b;
}
.modal-desconto .modal-body .txt_info {
    display: block;
    margin-top: 128px;
    text-align: center;
    font-size: 12px;
    color: #fff;
}
.modal-desconto .close {
    position: absolute;
    border: 0;
    box-shadow: 7.55px 9.33px 17.82px 0.18px rgba(27, 27, 27, .36);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    right: 25px;
    top: 20px;
    background-color: #fff;
    z-index: 999;
}
@media (max-width: 420px) {
    .kits h1 {
        margin-bottom: 20px;
    }
    .aviso {
        text-align: center;
        padding-top: 20px;
    }
    
   	.botao-faq button{
    	width: 100%;
	}

}
@media screen and (max-width: 480px) {
    
   	.botao-faq button{
    	width: 100%;
	}

    .whats img{
    	width: 100%;
    }

}


@media (max-width: 320px) {
    header h2 {
        font-size: 18px;
        text-align: center;
    }
}


 @media only screen and (max-width: 400px) {
    .mobile-hide{ display: none !important; }
    }
    @media only screen and (max-width: 400px) {
    .mobile{ display: inline !important; }
    }
    @media only screen and (min-width: 500px) {
    .desktop-hide{ display: none !important; }
    }

#step-graphic-c6cfd27c0c7e9ff93c9b8510cd9b947e.step-graphic-style-1 li {
            background-color: rgba(255, 41, 41, 1); ?>;
        }
        #step-graphic-c6cfd27c0c7e9ff93c9b8510cd9b947e.step-graphic-style-1 li:nth-child(2n) {
            background-color: rgba(255, 41, 41, 0.75); ?>;
        }
.step-graphic-style-1 {
    width: 100%
}
.step-graphic-style-1 li {
    display: block;
    padding: 20px;
    margin: 0;
    margin-bottom: 20px!important;
    clear: both;
    border-radius: 6px;
    background-color: #004a80
}
.step-graphic-style-1 li:nth-child(even) {
    background-color: rgba(0, 74, 128, .75)
}
.step-graphic-style-1 .step-graphic-style-1-number-container {
    float: left;
    display: block;
    height: 50px;
    width: 50px;
    border-radius: 100px;
    border: 3px solid #fff;
    box-sizing: border-box;
    text-align: center
}
.step-graphic-style-1 .step-graphic-style-1-number {
    font-size: 32px;
    line-height: 43px;
    color: #fff;
    position: relative
}
.step-graphic-style-1 div {
    margin-left: 70px
}
.step-graphic-style-1 p {
    font-family: inherit;
    font-size: inherit;
    line-height: 1.3em;
    color: #fff;
    color: rgba(255, 255, 255, .75);
    margin: 0
}
.step-graphic-style-1 p.heading {
    font-weight: 700;
    color: #fff;
    margin: 5px 0
}

.cols {
    position: relative
}

.headline-style-4 {
    border-bottom: 3px solid #101010;
     margin: 0 0 20px;
    line-height: normal;
    padding: 10px 0;
}





b,strong
{
	font-weight: 700;
}
h1
{
	font-size: 2em;
	margin: .67em 0;
}
small
{
	font-size: 80%;
}
img
{
	border: 0;
}
button
{
	color: inherit;
	cursor: pointer;
	font: inherit;
	margin: 0;
	overflow: visible;
	text-transform: none;
	webkit-appearance: button;
}
button::-moz-focus-inner
{
	border: 0;
	padding: 0;
}
@media print
{
	*,:after,:before
	{
		background: 0 0!important;
		box-shadow: none!important;
		color: #000!important;
		text-shadow: none!important;
	}
	a,a:visited
	{
		text-decoration: underline;
	}
	a[href]:after
	{
		content: " (" attr(href) ")";
	}
	img
	{
		max-width: 100%!important;
		page-break-inside: avoid;
	}
	p
	{
		orphans: 3;
		widows: 3;
	}
	.navbar
	{
		
		
	}
}
*
{
	box-sizing: border-box;
	moz-box-sizing: border-box;
	webkit-box-sizing: border-box;
}
:after,:before
{
	box-sizing: border-box;
	moz-box-sizing: border-box;
	webkit-box-sizing: border-box;
}
html
{
	font-size: 10px;
	webkit-tap-highlight-color: transparent;
}
body
{
	background-color: #fff;
	color: #333;
	font-family: Arial,Helvetica,Arial,sans-serif;
	font-size: 16px;
	line-height: 1.42857143;
	line-height: 1.42857143;
	line-height: 1.42857143;
}
button
{
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}
a
{
	color: #c40000;
	text-decoration: none;
}
a:focus,a:hover
{
	color: #c40000;
	text-decoration: underline;
}
a:focus
{
	outline: 5px auto -webkit-focus-ring-color;
	outline: thin dotted;
	outline-offset: -2px;
}
img
{
	vertical-align: middle;
}
h1,h4
{
	color: inherit;
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
}
h1
{
	margin-bottom: 11px;
	margin-top: 22px;
}
h4
{
	margin-bottom: 11px;
	margin-top: 11px;
}
h1
{
	font-size: 50px;
}
h4
{
	font-size: 20px;
}
p
{
	margin: 0 0 11px;
}
small
{
	font-size: 87%;
}
.text-center
{
	text-align: center;
}
ul
{
	margin-bottom: 11px;
	margin-top: 0;
}
dl
{
	margin-bottom: 22px;
	margin-top: 0;
}
dd,dt
{
	line-height: 1.42857143;
}
dt
{
	font-weight: 700;
}
dd
{
	margin-left: 0;
}
.container
{
	margin-left: auto;
	margin-right: auto;
	padding-left: 25px;
	padding-right: 25px;
}
@media (min-width: 768px)
{
	.container
	{
		width: 100%;
	}
}
@media (min-width: 1023px)
{
	.container
	{
		width: 998px;
	}
}
@media (min-width: 1217px)
{
	.container
	{
		width: 1200px;
	}
}
.row
{
	margin-left: -25px;
	margin-right: -25px;
}
.col-md-6,.col-sm-12,.col-sm-5,.col-sm-7
{
	min-height: 1px;
	padding-left: 25px;
	padding-right: 25px;
	position: relative;
}
@media (min-width: 768px)
{
	.col-sm-12,.col-sm-5,.col-sm-7
	{
		float: left;
	}
	.col-sm-12
	{
		width: 100%;
	}
	.col-sm-7
	{
		width: 58.33333333%;
	}
	.col-sm-5
	{
		width: 41.66666667%;
	}
}
@media (min-width: 1023px)
{
	.col-md-6
	{
		float: left;
		width: 50%;
	}
}
.btn
{
	background-color: #35A344;
	border: 1px solid transparent;
	border-radius: 4px;
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.42857143;
	margin-bottom: 0;
	moz-user-select: none;
	ms-user-select: none;
	padding: 6px 12px;
	text-align: center;
	touch-action: manipulation;
	user-select: none;
	vertical-align: middle;
	webkit-user-select: none;
	white-space: nowrap;
}
.btn:active:focus,.btn:focus
{
	outline: 5px auto -webkit-focus-ring-color;
	outline: thin dotted;
	outline-offset: -2px;
}
.btn:focus,.btn:hover
{
	color: #333;
	text-decoration: none;
}
.btn:active
{
	background-image: none;
	box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
	outline: 0;
	webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}
.fade
{
	opacity: 0;
	o-transition: opacity .15s linear;
	transition: opacity .15s linear;
	webkit-transition: opacity .15s linear;
}
.collapse
{
	display: none;
}
.nav
{
	list-style: none;
	margin-bottom: 0;
	padding-left: 0;
}
.nav>li
{
	display: block;
	position: relative;
}
.navbar
{
	border: 1px solid transparent;
	margin-bottom: 22px;
	min-height: 50px;
	position: relative;
}
@media (min-width: 768px)
{
	.navbar
	{
		border-radius: 4px;
	}
}
@media (min-width: 768px)
{
	.navbar-header
	{
		float: left;
	}
}
.navbar-collapse
{
	border-top: 1px solid transparent;
	box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
	overflow-x: visible;
	padding-left: 25px;
	padding-right: 25px;
	webkit-overflow-scrolling: touch;
}
@media (min-width: 768px)
{
	.navbar-collapse
	{
		border-top: 0;
		box-shadow: none;
		width: auto;
	}
	.navbar-collapse.collapse
	{
		display: block!important;
		height: auto!important;
		overflow: visible!important;
		padding-bottom: 0;
	}
}
.container>.navbar-collapse,.container>.navbar-header
{
	margin-left: -25px;
	margin-right: -25px;
}
@media (min-width: 768px)
{
	.container>.navbar-collapse,.container>.navbar-header
	{
		margin-left: 0;
		margin-right: 0;
	}
}
.navbar-brand
{
	float: left;
	font-size: 20px;
	height: 50px;
	line-height: 22px;
	padding: 14px 25px;
}
.navbar-brand:focus,.navbar-brand:hover
{
	text-decoration: none;
}
.navbar-brand>img
{
	display: block;
}
@media (min-width: 768px)
{
	.navbar>.container .navbar-brand
	{
		margin-left: -25px;
	}
}
.navbar-nav
{
	margin: 7px -25px;
}
@media (min-width: 768px)
{
	.navbar-nav
	{
		float: left;
		margin: 0;
	}
	.navbar-nav>li
	{
		float: left;
	}
}
@media (min-width: 768px)
{
	.navbar-right
	{
		float: right!important;
		margin-right: -25px;
	}
}
.navbar-default
{
	background-color: #f8f8f8;
	border-color: #e7e7e7;
}
.navbar-default .navbar-brand
{
	color: #777;
}
.navbar-default .navbar-brand:focus,.navbar-default .navbar-brand:hover
{
	background-color: transparent;
	color: #5e5e5e;
}
.navbar-default .navbar-collapse
{
	border-color: #e7e7e7;
}
.close
{
	color: #000;
	filter: alpha(opacity=20);
	float: right;
	font-size: 24px;
	font-weight: 700;
	line-height: 1;
	opacity: .2;
	text-shadow: 0 1px 0 #fff;
}
.close:focus,.close:hover
{
	color: #000;
	cursor: pointer;
	filter: alpha(opacity=50);
	opacity: .5;
	text-decoration: none;
}
button.close
{
	background: 0 0;
	border: 0;
	cursor: pointer;
	padding: 0;
	webkit-appearance: none;
}
.modal-open
{
	overflow: hidden;
}
.modal
{
	bottom: 0;
	display: none;
	left: 0;
	outline: 0;
	overflow: hidden;
	position: fixed;
	right: 0;
	top: 0;
	webkit-overflow-scrolling: touch;
	z-index: 1050;
}
.modal.fade .modal-dialog
{
	moz-transition: -moz-transform .3s ease-out;
	ms-transform: translate(0,-25%);
	o-transform: translate(0,-25%);
	o-transition: -o-transform .3s ease-out;
	transform: translate(0,-25%);
	transition: transform .3s ease-out;
	webkit-transform: translate(0,-25%);
	webkit-transition: -webkit-transform .3s ease-out;
}
.modal-dialog
{
	margin: 10px;
	position: relative;
	width: auto;
}
.modal-content
{
	background-clip: padding-box;
	background-color: #fff;
	border: 1px solid #999;
	border: 1px solid rgba(0,0,0,.2);
	border-radius: 6px;
	box-shadow: 0 3px 9px rgba(0,0,0,.5);
	outline: 0;
	position: relative;
	webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
}
.modal-header
{
	border-bottom: 1px solid #e5e5e5;
	min-height: 16.43px;
	padding: 15px;
}
.modal-header .close
{
	margin-top: -2px;
}
.modal-title
{
	line-height: 1.42857143;
	margin: 0;
}
.modal-body
{
	padding: 15px;
	position: relative;
}
@media (min-width: 768px)
{
	.modal-dialog
	{
		margin: 30px auto;
		width: 600px;
	}
	.modal-content
	{
		box-shadow: 0 5px 15px rgba(0,0,0,.5);
		webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
	}
}
.clearfix:after,.clearfix:before,.container:after,.container:before,.nav:after,.nav:before,.navbar-collapse:after,.navbar-collapse:before,.navbar-header:after,.navbar-header:before,.navbar:after,.navbar:before,.row:after,.row:before
{
	content: " ";
	display: table;
}
.clearfix:after,.container:after,.nav:after,.navbar-collapse:after,.navbar-header:after,.navbar:after,.row:after
{
	clear: both;
}
@media (max-width: 767px)
{
	.hidden-xs
	{
		display: none!important;
	}
}
@media (min-width: 768px) and (max-width: 1022px)
{
	.hidden-sm
	{
		display: none!important;
	}
}
.fundo-cinza-products
{
	background-color: #e8e8e8;
	background-image: url();
	position: relative;
}
@media (min-width: 1023px)
{
	.fundo-cinza-products:before
	{
		content: " ";
		float: left;
		height: 100%;
		left: 0;
		opacity: .1;
		position: absolute;
		top: 0;
		width: 1000px;
		z-index: 222;
	}
	.fundo-cinza-products:after
	{
		content: " ";
		float: right;
		height: 100%;
		opacity: .1;
		position: absolute;
		right: 0;
		top: 0;
		width: 1000px;
		z-index: 222;
	}
}
@media (min-width: 1023px)
{
	.fundo-cinza-products>section>div
	{
		position: relative;
	}
	.fundo-cinza-products>section>div:before
	{
		content: " ";
		display: block;
		height: 100%;
		margin: 0 auto;
		position: absolute;
		top: 0;
		width: 98%;
	}
	.fundo-cinza-products>section>div:after
	{
		bottom: 0;
		content: " ";
		display: block;
		height: 100%;
		margin: 0 auto;
		position: absolute;
		width: 98%;
	}
}
.fundo-preto
{
	background-color: #0f0f0f;
	background-image: url();
	position: relative;
}
@media (min-width: 1023px)
{
	.fundo-preto:before
	{
		content: " ";
		float: left;
		height: 100%;
		left: 0;
		opacity: .1;
		position: absolute;
		top: 0;
		width: 1000px;
		z-index: 222;
	}
	.fundo-preto:after
	{
		content: " ";
		float: right;
		height: 100%;
		opacity: .1;
		position: absolute;
		right: 0;
		top: 0;
		width: 1000px;
		z-index: 222;
	}
}
@media (min-width: 1023px)
{
	.fundo-preto>section>div
	{
		position: relative;
	}
	.fundo-preto>section>div:before
	{
		content: " ";
		display: block;
		height: 856px;
		margin: 0 auto;
		position: absolute;
		top: 0;
		width: 98%;
	}
	.fundo-preto>section>div:after
	{
		bottom: 0;
		content: " ";
		display: block;
		height: 772px;
		margin: 0 auto;
		position: absolute;
		width: 97%;
	}
}
.fundo-preto2
{
	background-color: #0f0f0f;
	background-image: url();
	position: relative;
}
.fundob
{
	background-color: #9e0000;
}
@media (min-width: 1024px)
{
	body
	{
		moz-zoom: 85%;
		moz-zoom: normal;
		ms-zoom: 100%;
		ms-zoom: 85%;
		webkit-zoom: 85%;
		webkit-zoom: normal;
		zoom: normal;
	}
}
@media (min-width: 1280px)
{
	body
	{
		moz-zoom: 100%;
		moz-zoom: normal;
		ms-zoom: 100%;
		ms-zoom: 85%;
		webkit-zoom: 100%;
		webkit-zoom: normal;
		zoom: 100%;
		zoom: normal;
	}
}
@media (min-width: 1360px)
{
	body
	{
		moz-zoom: 85%;
		moz-zoom: normal;
		ms-zoom: 100%;
		ms-zoom: 85%;
		webkit-zoom: 85%;
		webkit-zoom: normal;
		zoom: 85%;
		zoom: normal;
	}
	body p
	{
		font-size: 15px!important;
	}
}
@media (min-width: 1440px)
{
	body
	{
		moz-zoom: 90%;
		moz-zoom: normal;
		ms-zoom: 85%;
		ms-zoom: 90%;
		webkit-zoom: 90%;
		webkit-zoom: normal;
		zoom: 90%;
		zoom: normal;
	}
}
@media (min-width: 1600px)
{
	body
	{
		moz-zoom: 90%;
		moz-zoom: normal;
		ms-zoom: 85%;
		ms-zoom: 90%;
		webkit-zoom: 90%;
		webkit-zoom: normal;
		zoom: 90%;
		zoom: normal;
	}
}
@media (min-width: 1920px)
{
	body
	{
		moz-zoom: 100%;
		moz-zoom: normal;
		ms-zoom: 100%;
		ms-zoom: 85%;
		webkit-zoom: 100%;
		webkit-zoom: normal;
		zoom: 100%;
		zoom: normal;
	}
}
.row
{
	margin-left: -25px;
	margin-right: -25px;
}
@media (min-width: 768px)
{
	.row
	{
		margin: 0;
	}
}
[class*=col]:first-child
{
	padding-left: 25px;
}
@media (min-width: 1023px)
{
	[class*=col]:first-child
	{
		padding-left: 0;
	}
}
[class*=col]:last-child
{
	padding-right: 25px;
}
@media (min-width: 1023px)
{
	[class*=col]:last-child
	{
		padding-right: 0;
	}
}
.btn
{
	border-radius: 3px;
	color: #fff;
	cursor: pointer!important;
	display: inline-block;
	font-family: Teko,sans-serif;
	font-size: 22px;
	font-weight: 100;
	margin: 13.3px 0;
	moz-border-radius: 3px;
	padding: 8.6px 27.6px;
	position: relative;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 2px 4px rgba(0,0,0,.3);
	text-transform: uppercase;
	webkit-border-radius: 3px;
	z-index: 999;
}
.btn:active,.btn:focus,.btn:hover
{
	box-shadow: none;
	cursor: pointer!important;
	outline: 0!important;
}
.btn-verde
{
	background-color: #35A344;
	box-shadow: 0 2px 0 #1f3762,inset 0 1px 3px rgba(255,255,255,.7),0 7px 3px rgba(0,0,0,.18);
	cursor: pointer!important;
	
}
.btn-verde span.hover
{
	display: none;
}
.btn-verde span.normal
{
	display: block;
}
.btn-verde:focus,.btn-verde:hover
{
	background-image: url();
	box-shadow: none;
	color: #fff;
}
.btn-verde:focus span.hover,.btn-verde:hover span.hover
{
	display: block;
	width: 118px;
}
@media (min-width: 768px)
{
	.btn-verde:focus span.hover,.btn-verde:hover span.hover
	{
		width: 177px;
	}
}
.btn-verde:focus span.normal,.btn-verde:hover span.normal
{
	display: none;
}
.btn-verde:active
{
	background-image: url();
}
.btn-products
{
	background-image: url();
	border-radius: 6px;
	box-shadow: 0 2px 0 #1f3762,inset 0 1px 3px rgba(255,255,255,.7);
	cursor: pointer!important;
	font-weight: 100;
	letter-spacing: 1.2px;
	margin: 0;
	moz-border-radius: 6px;
	padding: 8.6px 49.6px;
	position: relative;
	webkit-border-radius: 6px;
	width: 100%;
}
.btn-products:before
{
	background: 0 0;
	border-radius: 17px;
	box-shadow: 0 13px 7px rgba(6,6,6,.39);
	content: "";
	height: 4px;
	left: 4px;
	position: absolute;
	top: 80%;
	width: 97%;
	z-index: -1;
}
@media (min-width: 1023px)
{
	.btn-products
	{
		display: inline-block;
		padding: 8px 14px;
		position: relative;
		right: 0;
		top: 0;
		width: 100%;
	}
}
@media (min-width: 1217px)
{
	.btn-products
	{
		padding: 11px 28px 6px;
	}
}
#header-products .container:after,#header-products .container:before
{
	display: none;
}
ul
{
	margin: 0;
	padding: 0;
}
ul li
{
	list-style: none;
}
p
{
	font-size: 14px;
	margin: 0;
}
@media (min-width: 1023px)
{
	p
	{
		font-size: 12px;
	}
}
h1,h4
{
	margin: 0;
	text-rendering: geometricPrecision!important;
}
h1
{
	color: #333;
	font-family: Teko,sans-serif;
	font-size: 30px;
	letter-spacing: 1px;
	text-transform: uppercase;
}
@media (min-width: 1023px)
{
	h1
	{
		font-size: 48px;
		letter-spacing: .5px;
		line-height: 48px;
	}
}
.sprite-product-page
{
	background-image: url();
}
.sprite-product-page.icon-1,.sprite-product-page.icon-2,.sprite-product-page.icon-3,.sprite-product-page.icon-4
{
	background-repeat: no-repeat;
	display: inline-block;
	height: 40px;
	left: 8%;
	position: absolute;
	width: 39px;
}
.sprite-product-page.icon-1
{
	background-position: 0 0;
}
.sprite-product-page.icon-2
{
	background-position: 0 -40px;
}
.sprite-product-page.icon-3
{
	background-position: 0 -80px;
}
.sprite-product-page.icon-4
{
	background-position: 0 -120px;
}
.my-navbar
{
	background: #e9e9e9;
	border: 0;
	border-radius: 0;
	margin: 0;
	min-height: 60px;
	
}
.my-navbar .logo
{
	height: 60px;
	padding: 12px 0 12px 15px;
}
.my-navbar .navbar-right
{
	color: #333;
	font-size: 18px;
	font-size: 22px;
	font-weight: 400;
	font-weight: 700;
	line-height: 22px;
	margin-right: -20px;
	padding: 9px 0;
}
@media (min-width: 1217px)
{
	.my-navbar .navbar-right
	{
		font-size: 23.68px;
	}
}
.my-navbar .navbar-right li
{
	padding: 11px 0;
}
.my-navbar .navbar-right .nav
{
	cursor: default;
	font-family: Teko,sans-serif;
	font-size: 18px;
	letter-spacing: 1px;
	text-transform: uppercase;
}
@media (min-width: 1217px)
{
	.my-navbar .navbar-right .telefone
	{
		font-size: 20px;
	}
}
.footer-1
{
	background: #c40000 !important;
	text-align: center;
}
.footer-1 .info-footer
{
	padding: 38px 0;
}
@media (min-width: 768px)
{
	.footer-1 .info-footer
	{
		padding: 19.2px 0;
	}
}
@media (min-width: 1217px)
{
	.footer-1 .info-footer
	{
		margin-left: 0;
		margin-right: 0;
		padding: 30.2px 0;
	}
}
.footer-1 .info-footer .formas-pagamento
{
	display: block;
	margin-bottom: 40px;
	text-align: left;
}
@media (min-width: 768px)
{
	.footer-1 .info-footer .formas-pagamento
	{
		display: inline-block;
		float: left;
	}
}
@media (min-width: 1023px)
{
	.footer-1 .info-footer .formas-pagamento
	{
		float: none;
		margin-bottom: 0;
		text-align: center;
	}
}
.footer-1 .info-footer .formas-pagamento b
{
	color: #fff;
	display: block;
	font-size: 12px;
	font-weight: 700;
	margin-left: 4px;
	padding-bottom: 7px;
	text-transform: uppercase;
}
.footer-1 .info-footer .formas-pagamento b.mtp
{
	margin-top: 30px;
}
.footer-1 .info-footer .compre-seguranca
{
	display: block;
	position: relative;
}
@media (min-width: 768px)
{
	.footer-1 .info-footer .compre-seguranca
	{
		display: inline-block;
		float: right;
		margin-right: 74px;
	}
}
@media (min-width: 1023px)
{
	.footer-1 .info-footer .compre-seguranca
	{
		margin-right: 0;
	}
}
.footer-1 .info-footer .compre-seguranca b
{
	color: #fff;
	display: block;
	font-size: 12px;
	font-weight: 700;
	margin-left: 4px;
	text-align: center;
	text-transform: uppercase;
}
.footer-1 .info-footer .compre-seguranca b.seguranca
{
	padding-bottom: 10px;
	text-align: left;
}
.footer-1 .info-footer .compre-seguranca .cadeado
{
	float: right;
}
.footer-1 .info-footer .compre-seguranca .infos-footer-security-seal
{
	background: #fff;
	border-radius: 0;
	margin: 25px 0 27px 25px;
	outline: 25px solid rgba(255,255,255,.09);
	overflow: hidden;
	padding: 2px 9px;
	width: 178px;
}
@media (min-width: 768px)
{
	.footer-1 .info-footer .compre-seguranca .infos-footer-security-seal
	{
		margin: 25px;
	}
}
@media (min-width: 1023px)
{
	.footer-1 .info-footer .compre-seguranca .infos-footer-security-seal
	{
		margin-bottom: 0;
		margin-right: 0;
		width: 148px;
	}
}
@media (min-width: 1217px)
{
	.footer-1 .info-footer .compre-seguranca .infos-footer-security-seal
	{
		padding: 12px 9px;
		width: 190px;
	}
}
.footer-1 .info-footer .compre-seguranca .infos-footer-security-seal b
{
	color: #000;
}
.footer-1 .info-footer .compre-seguranca .infos-footer-security-seal .cadeado
{
	float: left;
	margin: 0;
}
.footer-1 .info-footer .duvidas,.footer-1 .info-footer .garantia
{
	display: inline-block;
	float: left;
}
.footer-1 .info-footer .duvidas b,.footer-1 .info-footer .garantia b
{
	color: #fff;
	display: block;
	font-size: 12px;
	font-weight: 700;
	padding-bottom: 8px;
	text-transform: uppercase;
}
.footer-1 .info-footer .duvidas p,.footer-1 .info-footer .garantia p
{
	color: #fff;
	font-size: 12px!important;
	font-weight: 100;
}
.footer-1 .info-footer .garantia .company
{
	line-height: 13px;
	margin-top: 24px;
}
.footer-1 .info-footer .garantia
{
	text-align: left;
	width: 100%;
}
@media (min-width: 768px)
{
	.footer-1 .info-footer .garantia
	{
		float: left;
		width: 284px;
	}
}
@media (min-width: 1023px)
{
	.footer-1 .info-footer .garantia
	{
		margin-left: 9px;
		text-align: center;
		width: 200px;
	}
}
@media (min-width: 1217px)
{
	.footer-1 .info-footer .garantia
	{
		margin-left: 25px;
		width: 234px;
	}
}
.footer-1 .info-footer .duvidas
{
	margin-top: 27px;
	text-align: left;
	width: 100%;
}
@media (min-width: 768px)
{
	.footer-1 .info-footer .duvidas
	{
		float: right;
		margin-top: 0;
		width: 301px;
	}
}
@media (min-width: 1023px)
{
	.footer-1 .info-footer .duvidas
	{
		margin-left: 13px;
		text-align: center;
		width: 200px;
	}
}
@media (min-width: 1217px)
{
	.footer-1 .info-footer .duvidas
	{
		margin-left: 50px;
		width: 215px;
	}
}
.site-map
{
	background-color: #f5f5f5;
	display: none;
	margin: 0!important;
	padding: 25px 0;
}
@media (min-width: 1023px)
{
	.site-map
	{
		display: block;
		padding: 0;
	}
}
.site-map ul
{
	display: block;
}
@media (min-width: 768px)
{
	.site-map ul
	{
		display: inline-block;
	}
}
.site-map ul.list2
{
	display: block;
}
@media (min-width: 768px)
{
	.site-map ul.list2
	{
		display: inline-block;
		float: right;
		margin: 27px 0;
	}
}
.site-map ul li
{
	display: block;
}
@media (min-width: 768px)
{
	.site-map ul li
	{
		display: inline-block;
	}
}
.site-map ul li .texto-list
{
	color: #373737;
	display: inline-block;
	font-size: 10px;
	font-weight: 700;
	padding: 0 16px;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
}
@media (min-width: 768px)
{
	.site-map ul li .texto-list:after
	{
		background-color: #949494;
		content: " ";
		display: block;
		height: 3px;
		position: absolute;
		right: 0;
		top: 4.2px;
		width: 3px;
	}
}
@media (min-width: 1023px)
{
	.site-map ul li .texto-list
	{
		padding: 0 11px;
	}
}
@media (min-width: 1217px)
{
	.site-map ul li .texto-list
	{
		padding: 0 30px;
	}
}
.site-map ul li .texto-list.first
{
	font-size: 12px;
}
.site-map ul li .texto-list.first:after
{
	display: none;
}
.site-map ul li:last-child a
{
	padding-right: 0;
}
.site-map ul li:last-child a:after
{
	display: none;
}
.site-map .fb
{
	background-image: none;
	border: 0;
	display: none;
	padding: 15px 0 15px 13px;
}
@media (min-width: 768px)
{
	.site-map .fb
	{
		display: block;
	}
}
@media (min-width: 1023px)
{
	.site-map .fb
	{
		border-left: 1px solid #e8e8e8;
		border-right: 1px solid #e8e8e8;
		display: inline-block;
		padding: 24px 0;
		padding-left: 16px;
		padding-left: 30px;
		width: 351px;
	}
}
@media (min-width: 1217px)
{
	.site-map .fb
	{
		width: 451px!important;
	}
}
.social_media
{
	background: #333;
}

.social_media .list_redes
{
	margin: 0;
	margin-bottom: 25px;
	padding: 0;
	text-align: center;
}
.social_media .list_redes li
{
	display: inline-block;
	margin: 0 15px;
}
.social_media .list_redes li:first-child
{
	margin-left: 0;
}
.social_media .list_redes li:last-child
{
	margin-right: 0;
}
.social_media .list_redes li a
{
	color: #333;
	font-size: 25px;
	moz-transition: all .3s;
	moz-user-select: none;
	ms-user-select: none;
	o-transition: all .3s;
	transition: all .3s;
	user-select: none;
	webkit-transition: all .3s;
	webkit-user-select: none;
}
.social_media .list_redes li a:hover
{
	text-decoration: none;
}
.social_media .list_redes li a.fb:hover
{
	color: #c40000;
	moz-transition: all .3s;
	moz-user-select: none;
	ms-user-select: none;
	o-transition: all .3s;
	transition: all .3s;
	user-select: none;
	webkit-transition: all .3s;
	webkit-user-select: none;
}
.social_media .list_redes li a.yb:hover
{
	color: #C84C44;
	moz-transition: all .3s;
	moz-user-select: none;
	ms-user-select: none;
	o-transition: all .3s;
	transition: all .3s;
	user-select: none;
	webkit-transition: all .3s;
	webkit-user-select: none;
}
.site-map
{
	display: none;
	padding: 25px 0;
}
@media (min-width: 1023px)
{
	.site-map
	{
		display: block;
		padding: 0;
	}
}
.site-map ul
{
	display: block;
}
@media (min-width: 768px)
{
	.site-map ul
	{
		display: inline-block;
	}
}
.site-map ul li
{
	display: block;
}
@media (min-width: 768px)
{
	.site-map ul li
	{
		display: inline-block;
	}
}
.site-map ul li .texto-list
{
	color: #373737;
	display: inline-block;
	font-size: 10px;
	font-weight: 700;
	padding: 0 16px;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
}
@media (min-width: 768px)
{
	.site-map ul li .texto-list:after
	{
		background-color: #949494;
		content: " ";
		display: block;
		height: 3px;
		position: absolute;
		right: 0;
		top: 4.2px;
		width: 3px;
	}
}
@media (min-width: 1023px)
{
	.site-map ul li .texto-list
	{
		padding: 0 11px;
	}
}
@media (min-width: 1217px)
{
	.site-map ul li .texto-list
	{
		padding: 0 30px;
	}
}
.site-map ul li .texto-list.first
{
	font-size: 12px;
}
.site-map ul li .texto-list.first:after
{
	display: none;
}
.social_media
{
	background: rgba(255,255,255,.05);
}
.social_media .list_redes
{
	margin: 0;
	margin-bottom: 25px;
	padding: 0;
	text-align: center;
}
.social_media .list_redes li
{
	display: inline-block;
	margin: 0 15px;
}
.social_media .list_redes li:first-child
{
	margin-left: 0;
}
.social_media .list_redes li:last-child
{
	margin-right: 0;
}
.social_media .list_redes li a
{
	color: #fff;
	font-size: 25px;
	moz-transition: all .3s;
	moz-user-select: none;
	ms-user-select: none;
	o-transition: all .3s;
	transition: all .3s;
	user-select: none;
	webkit-transition: all .3s;
	webkit-user-select: none;
}
.social_media .list_redes li a:hover
{
	text-decoration: none;
}
.social_media .list_redes li a.fb:hover
{
	color: #5C82BF;
	moz-transition: all .3s;
	moz-user-select: none;
	ms-user-select: none;
	o-transition: all .3s;
	transition: all .3s;
	user-select: none;
	webkit-transition: all .3s;
	webkit-user-select: none;
}
.social_media .list_redes li a.yb:hover
{
	color: #C84C44;
	moz-transition: all .3s;
	moz-user-select: none;
	ms-user-select: none;
	o-transition: all .3s;
	transition: all .3s;
	user-select: none;
	webkit-transition: all .3s;
	webkit-user-select: none;
}
.products-header h4
{
	color: #fff;
	font-family: Teko,sans-serif;
	font-size: 25px;
	margin: 39px 0;
	text-transform: uppercase;
}
.products-header h4.testeb
{
	float: left;
	font-size: 17px;
	margin-left: 110px;
}
@media (min-width: 1217px)
{
	.products-header h4.testeb
	{
		font-size: 19px;
		margin-left: 110px;
	}
}
@media (min-width: 1023px)
{
	.products-header h4
	{
		font-size: 21px;
		margin: 33px 0;
	}
}
.products-header h4 em
{
	color: #c40000;
	font-style: normal;
}
.products-header p
{
	color: #fff;
	float: right;
	font-size: 11px;
	padding: 13px 0;
	width: 261px;
}
@media (min-width: 1217px)
{
	.products-header p
	{
		font-size: 15px;
		width: 315px;
	}
}
.products-header span
{
	color: #fff;
	display: block;
	float: left;
	font-family: Teko,sans-serif;
	font-size: 25px;
	line-height: 1.1;
	margin: 9px 0;
	text-transform: uppercase;
}
@media (min-width: 768px)
{
	.products-header span
	{
		float: right;
	}
	.products-header h4.testeb
	{
		margin-left: 0;
	}
}
@media (min-width: 1023px)
{
	.products-header span
	{
		display: inline-block;
		float: none;
		font-size: 21px;
		margin: 33px 0;
	}
}
.products-header img
{
	float: left;
	margin: 15px 0;
}
@media (min-width: 768px)
{
	.products-header img
	{
		float: right;
	}
}
.info-pagamento
{
	background-color: #fff;
	border: 1px solid #e3e3e3;
	box-shadow: 0 1px 4px rgba(0,0,0,.12);
	list-style: none;
	margin: 30px 0;
	padding: 0;
	text-align: center;
	webkit-box-shadow: 0 1px 4px rgba(0,0,0,.12);
}
.info-pagamento li
{
	border-left: 1px solid #e3e3e3;
	display: inline-block;
	float: left;
	margin: 0;
	margin-left: 0;
	padding: 14px 0;
	position: relative;
	text-align: left;
	text-align: center;
	width: 50%;
}
@media (min-width: 1023px)
{
	.info-pagamento li
	{
		margin-left: -1px;
		width: 25%;
	}
}
.info-pagamento li:first-child
{
	border-left: none;
	margin-left: 0;
}
.info-pagamento li span
{
	color: #606060;
	font-size: 8px;
	text-transform: uppercase;
}
@media (min-width: 1023px)
{
	.info-pagamento li span
	{
		font-size: 8px;
	}
}
@media (min-width: 1217px)
{
	.info-pagamento li span
	{
		font-size: 10px;
	}
}
.info-pagamento li span b
{
	color: #373737;
	display: block;
	font-size: 12px;
	margin-top: -2px;
	text-transform: uppercase;
}
@media (min-width: 1217px)
{
	.info-pagamento li span b
	{
		font-size: 14px;
	}
}
.products
{
	padding-bottom: 30px;
}
.products .container:after,.products .container:before
{
	background-image: none;
}
.products #itens-products-0
{
	padding-top: 50px;
}
@media (min-width: 768px)
{
	.products #itens-products-0
	{
		padding-top: 0;
	}
}
.products .itens-products
{
	padding-bottom: 40px;
}
.products .itens-products #shadown
{
	box-shadow: 0 3px 4px rgba(0,0,0,.18);
}
.products .itens-products #shadown:after,.products .itens-products #shadown:before
{
	content: " ";
	display: table;
}
.products .itens-products #shadown:after
{
	clear: both;
}
.products .itens-products #shadown:after,.products .itens-products #shadown:before
{
	content: " ";
	display: table;
}
.products .itens-products #shadown:after
{
	clear: both;
}
.products header
{
	background-color: #c40000 !important;
	background-image: url();
	height: 33px;
	position: relative;
}
.products header .preco-pote
{
	color: #fff;
	
	font-size: 12px;
	font-weight: 700;
	line-height: 33px;
	margin-left: 42px;
	
	text-shadow: 1px 1.73px 3px rgba(0,0,0,.32);
	text-transform: uppercase;
}
@media (min-width: 1217px)
{
	.products header .preco-pote
	{
		
	}
}
.products header .pacotes-disponiveis
{
	background-color: #c40000 !important;
	color: #fff;
	display: inline;
	left: -4px;
	padding: 6px 15px;
	position: absolute;
	text-shadow: 1px 1.73px 3px rgba(0,0,0,.44);
	top: -6px;
	width: 152px;
	z-index: 1;
}
.products header .pacotes-disponiveis small
{
	float: right;
	font-size: 11px;
	letter-spacing: .8px;
	line-height: 10px;
	padding: 9px 0 9px 9px;
	text-align: left;
}
.products header .pacotes-disponiveis em
{
	float: left;
	font-family: Teko,sans-serif;
	font-size: 38px;
	font-style: normal;
	letter-spacing: .8px;
	line-height: 38px;
	text-transform: uppercase;
}
.products header .seal-callout
{
	background: #c40000;
	color: #fff;
	display: inline;
	font-family: Teko,sans-serif;
	font-size: 18px;
	left: -4px;
	letter-spacing: .8px;
	padding: 1px 20px;
	position: absolute;
	text-transform: uppercase;
	top: 3px;
}
.products header .seal-callout.versaob
{
	left: 148px;
}

.products header .box-desconto
{
	background-color: #2993d1;
	background-image: url();
	color: #fff;
	font-family: Teko,sans-serif;
	font-size: 28px;
	height: 50px;
	padding: 5px 4px;
	position: absolute;
	right: 0;
	text-shadow: 1px 1.73px 3px rgba(0,0,0,.44);
	text-transform: uppercase;
	top: -17px;
	width: 63px;
}
.products header .box-desconto .preco
{
	display: block;
	line-height: 30px;
}
.products header .box-desconto small
{
	display: block;
	font-size: 10px;
	font-weight: 400;
	letter-spacing: .8px;
	line-height: 8px;
}
.products .box
{
	background-color: #fff;
	float: left;
}
.products .box-picture
{
	display: inline-block;
	height: auto;
	position: relative;
	width: 100%;
}
@media (min-width: 768px)
{
	.products .box-picture
	{
		height: 300px;
		width: 30%;
	}
}
@media (min-width: 1023px)
{
	.products .box-picture
	{
		width: 356px;
	}
}
@media (min-width: 1217px)
{
	.products .box-picture
	{
		width: 432px;
	}
}
.products .box-picture .teste-a
{
	padding: 32px 17px;
	width: 100%;
}
@media (min-width: 768px)
{
	.products .box-picture .teste-a
	{
		padding: 35px 0 13px 25px;
	}
}
@media (min-width: 1023px)
{
	.products .box-picture .teste-a
	{
		padding: 60px 20px 60px 23px;
	}
}
@media (min-width: 1217px)
{
	.products .box-picture .teste-a
	{
		padding: 37px 48px;
		width: 82%;
	}
}
.products .box-text
{
	display: inline-block;
	height: auto;
	padding: 0;
	width: 100%;
}
@media (min-width: 768px)
{
	.products .box-text
	{
		height: 300px;
		padding: 0;
		width: 30%;
	}
}
@media (min-width: 1023px)
{
	.products .box-text
	{
		width: 295px;
	}
}
@media (min-width: 1217px)
{
	.products .box-text
	{
		width: 395px;
	}
}
.products .box-text>div
{
	padding: 0 10px;
}
@media (min-width: 1023px)
{
	.products .box-text>div
	{
		border-left: 1px solid #eee;
		border-right: 1px solid #eee;
		padding: 0 20px;
	}
}
@media (min-width: 1217px)
{
	.products .box-text>div
	{
		padding: 0 25px;
	}
}
.products .box-text b,.products .box-text p,.products .box-text span
{
	color: #7f878f;
	font-size: 12px;
}
@media (min-width: 1217px)
{
	.products .box-text b,.products .box-text p,.products .box-text span
	{
		font-size: 14px;
	}
}
.products .box-text b
{
	display: block;
	margin-top: 30px;
}
.products .box-price
{
	display: inline-block;
	height: auto;
	padding: 40px 25px;
	width: 100%;
}
@media (min-width: 768px)
{
	.products .box-price
	{
		display: inline-block;
		height: 300px;
		width: 40%;
	}
}
@media (min-width: 1023px)
{
	.products .box-price
	{
		height: 300px;
		width: 296px;
	}
}
@media (min-width: 1217px)
{
	.products .box-price
	{
		width: 322px;
	}
}
.products .box-price .product-price-table
{
	margin-bottom: 27px;
}
.products .box-price .product-price-table:after,.products .box-price .product-price-table:before
{
	content: " ";
	display: table;
}
.products .box-price .product-price-table:after
{
	clear: both;
}
.products .box-price .product-price-table:after,.products .box-price .product-price-table:before
{
	content: " ";
	display: table;
}
.products .box-price .product-price-table:after
{
	clear: both;
}
@media (min-width: 768px)
{
	.products .box-price .product-price-table
	{
		display: inline-block;
		width: 50%;
	}
}
@media (min-width: 1023px)
{
	.products .box-price .product-price-table
	{
		width: 100%;
	}
}
.products .box-price .product-price-table dt
{
	clear: right;
	color: #7f878f;
	float: left;
	font-size: 12.5px;
	font-weight: 400;
}
.products .box-price .product-price-table .product-price
{
	color: #7f878f;
	float: right;
	font-family: arial;
	font-size: 12.5px;
	font-weight: 700;
	margin-bottom: 0;
	text-align: left;
}
.products .box-price .product-price-table .product-price-default
{
	color: #1f3762!important;
	text-decoration: line-through;
}
.products .box-price .price-product
{
	line-height: 31px;
	margin-bottom: 15px;
}
.products .box-price .price-product p
{
	display: block;
	font-size: 16px;
	font-weight: 700;
}
.products .box-price .price-product .preco
{
	color: #1f3762;
	font-size: 38px;
	font-weight: 700;
}
.row
{
	margin-left: -25px;
	margin-right: -25px;
}
@media (min-width: 768px)
{
	.row
	{
		margin: 0;
	}
}
[class*=col]:first-child
{
	padding-left: 25px;
}
@media (min-width: 1023px)
{
	[class*=col]:first-child
	{
		padding-left: 0;
	}
}
[class*=col]:last-child
{
	padding-right: 25px;
}
@media (min-width: 1023px)
{
	[class*=col]:last-child
	{
		padding-right: 0;
	}
}
.modal-open .modal
{
	overflow-x: hidden;
	overflow-y: auto;
}
.fade.in
{
	opacity: 1;
}
.modal.in .modal-dialog
{
	ms-transform: translate(0,0);
	o-transform: translate(0,0);
	transform: translate(0,0);
	webkit-transform: translate(0,0);
}
.modal.fade .modal-dialog
{
	moz-transition: -moz-transform .3s ease-out;
	ms-transform: translate(0,-25%);
	o-transform: translate(0,-25%);
	o-transition: -o-transform .3s ease-out;
	transform: translate(0,-25%);
	transition: transform .3s ease-out;
	webkit-transform: translate(0,-25%);
	webkit-transition: -webkit-transform .3s ease-out;
}
.modal-open
{
	overflow: hidden;
}
.modal
{
	bottom: 0;
	display: none;
	left: 0;
	outline: 0;
	overflow: hidden;
	position: fixed;
	right: 0;
	top: 0;
	webkit-overflow-scrolling: touch;
	z-index: 1050;
}
.modal.fade .modal-dialog
{
	moz-transition: -moz-transform .3s ease-out;
	ms-transform: translate(0,-25%);
	o-transform: translate(0,-25%);
	o-transition: -o-transform .3s ease-out;
	transform: translate(0,-25%);
	transition: transform .3s ease-out;
	webkit-transform: translate(0,-25%);
	webkit-transition: -webkit-transform .3s ease-out;
}
.modal.in .modal-dialog
{
	ms-transform: translate(0,0);
	o-transform: translate(0,0);
	transform: translate(0,0);
	webkit-transform: translate(0,0);
}
.modal-open .modal
{
	overflow-x: hidden;
	overflow-y: auto;
}
.modal-dialog
{
	margin: 10px;
	position: relative;
	width: auto;
}
.modal-content
{
	background-clip: padding-box;
	background-color: #fff;
	border: 1px solid #999;
	border: 1px solid rgba(0,0,0,.2);
	border-radius: 6px;
	box-shadow: 0 3px 9px rgba(0,0,0,.5);
	outline: 0;
	position: relative;
	webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
}
.modal-backdrop
{
	background-color: #000;
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1040;
}
.modal-backdrop.fade
{
	filter: alpha(opacity=0);
	opacity: 0;
}
.modal-backdrop.in
{
	filter: alpha(opacity=50);
	opacity: .5;
}
.modal-header
{
	border-bottom: 1px solid #e5e5e5;
	min-height: 16.43px;
	padding: 15px;
}
.modal-header .close
{
	margin-top: -2px;
}
.modal-title
{
	line-height: 1.42857143;
	margin: 0;
}
.modal-body
{
	padding: 15px;
	position: relative;
}
.modal-footer
{
	border-top: 1px solid #e5e5e5;
	padding: 15px;
	text-align: right;
}
.modal-footer .btn+.btn
{
	margin-bottom: 0;
	margin-left: 5px;
}
.modal-footer .btn-group .btn+.btn
{
	margin-left: -1px;
}
.modal-footer .btn-block+.btn-block
{
	margin-left: 0;
}
.modal-scrollbar-measure
{
	height: 50px;
	overflow: scroll;
	position: absolute;
	top: -9999px;
	width: 50px;
}
@media (min-width:768px)
{
	.modal-dialog
	{
		margin: 30px auto;
		width: 600px;
	}
	.modal-content
	{
		box-shadow: 0 5px 15px rgba(0,0,0,.5);
		webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
	}
	.modal-sm
	{
		width: 300px;
	}
}
@media (min-width:1023px)
{
	.modal-lg
	{
		width: 900px;
	}
}
.popup-saida
{
	z-index: 9999999999;
}
.popup-saida .modal-dialog
{
	display: table;
	height: 100%;
	margin: 0;
	width: 100%;
}
.popup-saida .modal-dialog .modal-content
{
	background-color: #8641b4;
	display: table-cell;
	height: 100%;
	vertical-align: middle;
}
.popup-saida .modal-dialog .modal-content .modal-header
{
	border: none;
}
.popup-saida .modal-dialog .modal-content .modal-header h1
{
	border: none;
	color: #fc0;
	font-family: 'Open Sans';
	font-size: 40px;
	font-weight: bolder;
	text-align: center;
	text-transform: uppercase;
}
.popup-saida .modal-dialog .modal-content .modal-header .close
{
	color: #FFF;
	font-family: Verdana;
	font-size: 50px;
	opacity: 1;
	position: absolute;
	right: 30px;
	top: 25px;
}
.popup-saida .modal-dialog .modal-content .modal-body
{
	font-family: 'Open Sans';
}
.popup-saida .modal-dialog .modal-content .modal-body p
{
	color: #FFF;
	font-size: 23px!important;
	padding-bottom: 80px;
}
.popup-saida .modal-dialog .modal-content .modal-body p b
{
	font-weight: 700;
}
.popup-saida .modal-dialog .modal-content .modal-body p em
{
	color: #f9c517;
	font-style: normal;
	font-weight: 700;
}
.popup-saida .modal-dialog .modal-content .modal-body .botoes
{
	display: block;
	margin-top: 20px;
}
.popup-saida .modal-dialog .modal-content .modal-body .botoes a
{
	border: 2px solid #FFF;
	border-radius: 5px;
	color: #FFF;
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	font-weight: bolder;
	padding: 25px 60px;
}
.popup-saida .modal-dialog .modal-content .modal-body .botoes a.left
{
	display: inline-block;
	margin-right: 32px;
}
.popup-saida .modal-dialog .modal-content .modal-body .botoes a:hover
{
	background-color: #fc0;
	text-decoration: none;
	text-shadow: 1px 1px 2px rgba(0,0,0,.42);
}
.popup-saida .modal-dialog .modal-content .modal-body small
{
	color: #FFF;
	display: block;
	font-size: 12px;
	line-height: 18px;
	margin: 0 auto;
	padding-top: 15px;
}
.popup-saida .modal-dialog .modal-content .modal-body input
{
	background-color: #fff;
	border: 2px solid #FFF;
	border-radius: 7px;
	color: #8641B4;
	display: inline-block;
	font-size: 26px;
	height: 75px;
	padding: 15px;
	width: 650px;
}
.popup-saida .modal-dialog .modal-content .modal-body input::-webkit-input-placeholder
{
	color: #86416B;
	font-family: 'Open Sans';
}
.popup-saida-v2
{
	border: 2px solid #a646ea;
	border-radius: 25px;
	box-shadow: none;
	height: 474px;
	margin: 0 auto;
	top: 25vh;
	width: 770px;
}
.popup-saida-v2 .modal-content
{
	border: 0;
}
.popup-saida-v2 .modal-content .modal-header .close
{
	font-size: 37px!important;
}
.popup-saida-v2 .modal-body
{
	padding: 15px 15px 0;
}
.popup-saida-v2 .modal-body .text-center p
{
	
}
.popup-saida .cadeado-icon
{
	color: #FFF;
	display: block;
	font-size: 14px;
	margin: 20px 0 0 -170px;
	text-align: center;
}
.popup-saida .cadeado-icon img
{
	margin: -9px 5px 0 0;
}


.msg_ssx
{
	color: red;
	display: block;
	font-size: 12px;
	margin-top: 10px;
	text-align: center;
	width: 100%;
}
.pulse
{
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-name: pulse;
	webkit-animation-duration: 1.5s;
	webkit-animation-iteration-count: infinite;
	webkit-animation-name: pulse;
}
@keyframes pulse
{
	0%
	{
		opacity: 0.7;
		transform: scale(0.9);
	}
	50%
	{
		opacity: 1;
		transform: scale(1);
	}
	100%
	{
		opacity: 0.7;
		transform: scale(0.9);
	}
}
@-webkit-keyframes pulse
{
	0%
	{
		opacity: 0.7;
		webkit-transform: scale(0.95);
	}
	50%
	{
		opacity: 1;
		webkit-transform: scale(1);
	}
	100%
	{
		opacity: 0.7;
		webkit-transform: scale(0.95);
	}
}


#faixa{
  background-color: #A626F3E6;
  font-size: 10px;
  position:fixed;
  z-index:2000; 
  overflow:hidden;
  border:1px dashed #CCC;
  padding:6px;
  width: 100%;
  display: block !important;
  color: white;
  font-weight: 600;

}
